body{
    font-family: sans-serif;
}

.dice{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1rem;
}

img{
    border: 1rem solid black;
    border-radius: 1em;
    width: 15rem;
}

button{
    color: whitesmoke;
    background-color:black;
    display: block;
    padding: 1rem;
    margin:  1rem auto;
}